<html>
    <head>
        <title>Login Error</title>
    </head>

    <body>
        <h1>Login Error</h1>

        <p>Login through <%= Config::OAUTH_PROVIDER %> failed.
        <a href="/auth/login">Click here</a> to attempt login again.</p>
    </body>
</html>